body {
  margin: 0;
  font-size: 15px;
  font-family: 'Sunflower', sans-serif!important;
}

.header {
  background-color: #333333;
  padding: 80px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #000000;
  display: flex;
  align-items: center;
  height: 10vw;
  width: 100%;
}


.main_nav{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 0;
}

#navbar a {
  text-align: center;
  padding:16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
}

#navbar a:hover {
  color: #8c99a7;
}

#navbar a.active {
  color: #8c99a7;
}


.main_nav a {
  padding: 50px 50px 50px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

}

/* MEDIA QUERYS NAV */
@media only screen and (max-width: 480px){
  #navbar{
    min-width: 100%;
    height: 100%;
    display: block;
  }

  .main_nav{
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
  }
  .main_nav img{
    width: 12vw;
    height: auto;
  }

  #navbar a{
    padding: 1vw;
    font-size: 10px;
  }


}

/* FOOTER STYLE*/

div.main-footer {
  margin: auto!important;
  display: table!important;
  position: static;
  bottom: 0px;
}

.footer-style {
  overflow: hidden;
  background-color: #000000;
  align-items: center;
  position: static;
  bottom: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.main-footer a {
  display: inline-block;
  color: #ffffff;
  align-items: center;
  padding: 1.5vw;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.main-footer  a:hover {
  color: #8c99a7;
}

.main-footer  a.active {
  color: #8c99a7;
}

.small-text {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  padding-bottom: 1vw;
}



/* MEDIA QUERYS FOOTER */
@media only screen and (max-width: 480px){
  .footer-style {
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-style a{
    font-size: 10px;
  }
}
