* {
	box-sizing: border-box;
}
.banner1 {
  position: relative;
  top: 0px;
  margin: 0px;
}
.bannerinfo {
  display: none;
  margin: 0px;
  padding: 0px;
}

.logo1 {
  float: left;
  left: 900px;
  top: 200px;
  display: none;
}
.botones {
  position: relative;
  top: 200px;
  left: 50px;
  float: left;
}
.options {
  display: inline-flex;
  width: 100%;
  margin: 0px;
}
h1 {
  display: none;
}
h2 {
  display: none;
}
.container {
  position: relative;
  width: 100%;
  margin: 0px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(000,000,000,0.7);
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  font-family: 'Sunflower', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
