*{
    box-sizing: border-box;
  }
  body {
    background-image: url('../img/whiteb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }


  h2 {
    color: #333333;
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }

  p {
    margin: 50px;
    color: #333333;
    padding: 10px;
    font-size: 16px;
  }

  .logo {
  margin: auto;
  display: block;
  align-self: center;
  }

  .photo {
  width: 60%;
  align-self: center;
  }

  .info{
    align-content: center;
    text-align: center;
    display: flex;
    margin: 30px;
  }

  .row .contenedor{
    height: 250px;
    width: 800px;
    border-bottom: 200px;
    margin: 0 auto;
  }
