*{
    box-sizing: border-box;
  }
  body {
    background-image: url('../img/grey.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  h2 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 50px;

  }

  p {
    margin: 50px;
    color: #333333;
    padding: 10px;
    font-size: 16px;
  }

  .logo {
  margin: auto;
  display: block;
  align-self: center;
  padding-top: 15px;
  opacity: 0.7;
  }

  .photo {
  width: 50%;
  align-self: center;
  }

  .info{
    align-content: center;
    text-align: center;
    display: flex;
    margin: 30px;
  }
